/* Theme colors */
a {
  color: #FF4470;
}

.hero,
.main-nav {
  background: #FFF;
}

.hero-title,
.hero-link,
.main-nav {
  color: #FF4470;
}

.hero-title::after {
  background: #FF4470;
}

.grey-bg {
  background: #f5f5f5;
}

.link-with-arrow::before {
  content: url('data:image/svg+xml; utf8, <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="%23FF4470"><path d="M21.5 12.495L16 18h-3l4.498-4.5H3v-2h14.498L13 7h3z"/></svg>');
}

.hero,
.main-nav {
  background: #FFF;
}

.hero .hero-title,
.link-with-arrow,
.main-nav {
  color: #FF4470;
}

.hero .hero-title::after {
  background: #FF4470;
}

h1.title {
  color: #FF4470;
}
