  <footer>
    <div class="wrapper">
      <div class="group">
          Projects<br>
          <a href="https://lit-element.polymer-project.org">LitElement</a><br>
          <a href="https://pwa-starter-kit.polymer-project.org">PWA Starter Kit</a><br>
          <a href="https://lit-html.polymer-project.org">lit-html</a><br>
          <a href="https://github.com/material-components/material-components-web-components">Material Web Components</a><br>
          <a href="https://github.com/WebComponents/webcomponentsjs">Web Components polyfills</a><br>
          <a href="{{{site_classic}}}">Polymer library</a><br>
          <a href="https://www.webcomponents.org/author/PolymerElements">Polymer Elements</a>
      </div>
      <div class="group">
        Stay in touch<br>
        <a href="https://www.github.com/polymer" rel="noopener" target="_blank">GitHub</a><br>
        <a href="https://www.twitter.com/polymer" rel="noopener" target="_blank">Twitter</a><br>
        <a href="https://www.youtube.com/watch?v=we3lLo-UFtk" rel="noopener" target="_blank">YouTube</a>
      </div>
      <div class="attribution">
          Copyright 2018 <a href="https://www.polymer-project.org">The Polymer Project</a> Authors.<br>
          Code licensed under the
        <a target="_blank" href="http://polymer.github.io/LICENSE.txt">BSD License</a>.
      </div>
    </div>
  </footer>
