<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<meta name="google-site-verification" content="k0e8DrbD40s54xHNBqwIsRrSSAkZoprwtEYDnNY06bU" />
<meta name="google-site-verification" content="pnjjbQFvjPwaWhEXY6nSyaS9iyghmH-M_yLHBveDX2M">
<meta itemprop="image" content="https://www.polymer-project.org/images/logos/p-logo-32.png">
<meta itemprop="description" content="Open-source libraries, tools, and patterns to help developers build modern web applications">
<link rel="publisher" href="https://plus.google.com/107187849809354688692">

<meta name="theme-color" content="#ffffff">
<link rel="shortcut icon" href="/images/logos/p-logo-32.png">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="/css/syntax-style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans:400,500">
